*{
    padding: 0%;
    margin: 0%;
}

html, body{
    background: rgb(245, 245, 220);
    color: #000000;
    height: 100vh;
    font-family: "Times New Roman", Times, serif;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 10% 3fr 10%;
}

header{
    grid-row: 1/2;
    grid-column: 1/4;
}

main{
    grid-row: 2/3;
    grid-column: 2/3;
}

nav{
    grid-row: 2/4;
    grid-column: 1/2;
}

aside{
    grid-row: 2/4;
    grid-column: 3/4;
}

footer{
    grid-row: 3/4;
    grid-column: 1/4;
}